body {
  padding-top: 10px;
  background: url('../images/landscape.jpg');
  background-position: center center;
  background-attachment:fixed;
  background-size: cover;
}

[class*="col-"], footer {
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
}

textarea {
    resize : none;
    margin-bottom:10px;
}

.img-responsive {
    margin:0 auto;
    height:50px;
    width:100px;
}

img.center {
    display: block;
    margin: 0 auto;
}
/*[class=row], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
}*/

.col-lg-8 { 
    line-height: 200px; 
}

.col-lg-12 { 
    line-height: 80px; 
}

.col-lg-offset-6 {
    margin-left: 50%;
}

.navbar{
    margin-top:-10px;   
}